* {
    font-family: 'Times New Roman', Times, serif, cursive;
    background-color: #f5d8be;
}


p {
    color: rgb(92, 37, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
}   

a {
    color: rgb(15, 88, 79);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}   

h1{
    color: #034e42;
    text-decoration: none;
}


h2 {
    color: #472f02;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

li {
    color: rgb(15, 88, 79);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

th {
    color: rgb(15, 88, 79);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
td
{
    color: rgb(92, 37, 18);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}   

label {
    color: rgb(92, 37, 18);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

button {
    background-color: #eebc5e;
    color: rgb(14, 1, 1);
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 05px 10px;
    cursor: pointer;
}



.negrito {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.display-block {
    display: block;
    height: 100px;
    background-color: #c2943e;
    border: solid 1px #000;
    
}

@import url(https://fonts.google.com/specimen/Great+Vibes?query=great+vibes);
h1 {
    font-family: 'Great Vibes', cursive;
}